# The ID of your GitHub App
APP_ID=
PRIVATE_KEY_PATH=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
WEBHOOK_SECRET=

PORT=3600

# OpenAI API key
# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# Optional settings for code review
# chatGPT model
# e.g. gpt-3.5-turbo (default), gpt-3.5-turbo-0301, gpt-4, gpt-4-0314, gpt-4-32k, gpt-4-32k-0314
CHAT_GPT_MODEL=
# Temperature
TEMPERATURE=
# Top_P
TOP_P=
# Language
LANGUAGE=
# The path(s) to ignore, split path with `,`. Support glob patterns.
# e.g. package.json
PATH_TO_EXCLUDE=
# The max patch for a single file
MAX_PATCH_PER_FILE=
# The max file amount for a single pull request
MAX_FILE_PER_PR=20
# Customized code review prompt
# Not recommend to set up this. Instead, you can submit a PR to improve the default prompt.
# Any environment variables used in the default prompt will not work if a customized prompt is provided.
CUSTOMIZED_PROMPT="Please do code review for me"
